body::before {
  content: '';
  position: fixed; /* Фиксируем на одном месте */
  left: 0; right: 0; /* Вся ширин */
  top: 0; bottom: 0; /* Вся высота */
  z-index: -1; /* Фон ниже текста */
  /* Параметры фона */
  background: url(img/1._кт_cit.jpg) center / cover no-repeat;
  filter: blur(4px); /* Размытие */
 }


.App {
  /*text-align: left;*/
 
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.DS {
  border-radius: 5px;
  background-color: #ffffff; /* Green */
  color: rgb(5, 5, 5);
  padding: 1px 60px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 13px;
  
}

.exit{
  
  border-radius: 50px;
  background-color: rgb(234, 235, 232);
  box-shadow: 0 1px 11px 0 rgba(243, 0, 0, 0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  padding: 2px 25px;
}
  



.information {
  display: flex; 

  border: 2px solid rgb(0, 0, 0) !important;
  flex-direction: column;
  width: 100% ;
  justify-content: center;
  align-items: center;
  background-color: Transparent ;
  padding: 10px; /* Поля вокруг текста */
    background: #f3f5f5; /* Цвет фона */
    margin: 25px auto; /* Выравниваем слой по центру */
    width: 45%; /* Ширина слоя */
    opacity: 0.8; /* Значение прозрачности */
    filter: alpha(Opacity=70); /* Прозрачность в IE */
    border-radius: 35px;
    min-width: 900px;
    min-height: 500px;
    border: 2px solid rgb(17, 3, 0);
    box-shadow: 0 12px 160px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    animation-duration: 0.60s;  /* Время работы анимации */
    animation-fill-mode: both;  /* Поведение анимации */
    animation-name: fadeInDown; /* Имя анимации */
}


.informChange{
  border: 2px solid rgb(0, 0, 0);
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  background-color: Transparent ;
  padding: 10px; /* Поля вокруг текста */
    background: #f3f5f5; /* Цвет фона */
    margin: 25px auto; /* Выравниваем слой по центру */
    width: 45%; /* Ширина слоя */
    opacity: 0.8; /* Значение прозрачности */
    filter: alpha(Opacity=70); /* Прозрачность в IE */
    border-radius: 35px;
    min-width: 900px;
    min-height: 250px;
    border: 2px solid rgb(17, 3, 0);
    box-shadow: 0 12px 160px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    animation-duration: 0.60s;  /* Время работы анимации */
    animation-fill-mode:backwards;  /* Поведение анимации */
    animation-name: fadeInDown; /* Имя анимации */
}
@keyframes fadeInDown { /* Сама анимация */
  0% {                /* Старт анимации */
      opacity: 0;
      transform: translate3d(0px, -100%, 0px);
  }
  100% {              /* в финале анимации - финал это заданная 0.55s */
      opacity: 1;
      transform: none;
  }
}
.table
  {
    
    width: 100%;
    border: 1px solid black;
    border-spacing: 0px;
    box-shadow: 0 5px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    
    
  }
  th, td {
    border: 1px solid rgb(0, 0, 0);
    background: #91c5f5;
    
 }
.tdOleg td
{
  padding: 0px;
}

.table2{
  width: 40%;
    border: 1px solid black;
    border-spacing: 0px;
    position: relative;
  top: 6px; /* или bottom: -10px; */  
  left: 3px;
  box-shadow: 0 5px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);

}
.table3{
  width: 55%;
    border: 1px solid black;
    border-spacing: 0px;
    position: relative;
  top: 6px; /* или bottom: -10px; */  
  left: 3px;
  box-shadow: 0 5px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);

}

.ALARM{
  background: #f5ad91;
  width: 100%;
  margin: auto;
  text-align: center;
  box-shadow: 0 1px 11px 0 rgba(243, 0, 0, 0.24), 0 17px 50px 0 rgba(0,0,0,0.19);

}
.infform4{
  width: 100%;
  text-align: left;
  margin: 1px;
  padding: 0,1px;
  background: #f8f2ce;
  
}

.oleg {
  width: 100%;
  box-sizing: border-box;
  height:24px;
  border:0px;
}
.WarningRed{
background-color: #f5ad91;


}

ol {
  /* убираем стандартную нумерацию */
  list-style: none;
  /* Идентифицируем счетчик и даем ему имя li. Значение счетчика не указано - по умолчанию оно равно 0 */
  counter-reset: li;
}
li:before {
  /* Определяем элемент, который будет нумероваться — li. Псевдоэлемент before указывает, 
  что содержимое, вставляемое при помощи свойства content, будет располагаться перед пунктами списка. 
  Здесь же устанавливается значение приращения счетчика (по умолчанию равно 1). */
  counter-increment: li;
  /* С помощью свойства content выводится номер пункта списка. counters() означает, 
  что генерируемый текст представляет собой значения всех счетчиков с таким именем.
   Точка в кавычках добавляет разделяющую точку между цифрами,
    а точка с пробелом добавляется перед содержимым каждого пункта списка */
  content: counters(li, ".") ". ";
}

.start{
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 6px;
  
   
}

.tdOleg2{


  width: 100px;
color: rgb(0, 0, 0);

}
.otpr{
  width:100%;
  text-align-last: center;
  
}

.start2{
  
  background-color: rgb(96, 190, 108);
  text-align:center;
  position:relative;
  padding: 8px 50px;
  margin:6%;
  width:18%;
  top:45px;
  border: none;
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 6px;
  box-shadow: 0 1px 11px 0 rgba(12, 1, 1, 0.24), 0 17px 50px 0 rgba(0,0,0,0.19);

}

.inform{
width: 100%;
display: flex;

}

.text-i{
  float: left;
  margin: 1%;
  width: 70%;
 
}
.butt-par{
  float: right;
  margin: 1%;
  width: 25%;
 
  border-radius: 6px;
  color: #fff;
  font: 14px/24px "Source Code Pro", Inconsolata, "Lucida Console", Terminal, "Courier New", Courier;
  padding: 24px 1px;
  
}


 .hranpar{
   color: rgb(19, 4, 4);
   background-color: rgb(177, 177, 177);
   text-align:center;
   position:relative;
   padding: 8px 25px;
   border: none;
   border-radius: 3px;
   box-shadow: 0 1px 11px 0 rgba(7, 7, 7, 0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  }
  
.changeREG {
  float: right;
  background-color: rgb(229, 233, 177);
  margin: 5px;
  border-radius: 50px;
  
  box-shadow: 0 1px 11px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  padding: 2px 25px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
