
@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");

.App {
  left:300px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Open Sans", sans-serif;
   text-align: left;
}
.Zag {
  text-align: center;
}

.start{
  position: relative;
left: 20%;
transform: translate(-50%, 0);
}


.App-link {
  color: #61dafb;
}



//Login Main Container
.login {
  left:300px;
  width: 30em;
  height: 40em;
  //min-height: 44em;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 8px;
  position: relative;
  z-index: 99;

  .table_
  {
    border: 1px solid black;
    width: 100px;
   

  }

 
  .right-side {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 90%;
    background-color: #3498db;
    width: 100%;
    position: absolute;
    right: -34%;
    border-radius: 6px;
    z-index: 1;
    transition: all 350ms ease-in-out;
    cursor: pointer;
    box-shadow: 0px 0px 12px 2px rgba(15, 15, 15, 0.281);

    

    .text {
      font-size: 21px;
      font-weight: 500;
      color: #fff;
      margin-right: 3em;
      margin-left: 3em;
    }
  }
}


